<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="" class="logo d-flex align-items-center  me-auto me-lg-0">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <i class="bi bi-camera"></i>
      <h1>CBI</h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
       
        {% if request.user.is_authenticated %}

        <li><a href="{% url 'home' %}" class="active">Photo's</a></li>
        <li><a href="{% url 'videos' %}" class="active">Video's</a></li>
        <li><a href="{% url 'folder' %}" >Folders</a></li>
        {% if request.user.is_superuser %}
        
        <li >
          <a   href="{% url 'upload_img' %}">Upload Image</a>
        </li>
        <li >
          <a   href="{% url 'upload_video' %}">Upload Video</a>
        </li>
        {% endif %}
        <li >
          <a  href="{% url 'profile' request.user.id %}">{{user.name}}</a>
        </li>
        <li >
          <a href="{% url 'sign_out_user' %}" onclick="return confirm('Click here to logout.')">Logout</a>
        </li>
        {% else %}
        <li>
          <a  href="{% url 'sign_in_user' %}">Login/Register</a>
        </li>
        {% endif %}
      </ul>
    </nav><!-- .navbar -->

    <div class="header-social-links">
      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
    </div>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

  </div>



 


</header>





  



